h3{
    position: relative;
    background-image: linear-gradient(to right, rgb(8, 0, 117) ,rgb(0, 132, 255));
    color:white;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    font-size:25px;
    text-align: center;  
}

@media only screen and (max-width: 475px) {
.head-title{
    height: 80px;
    margin:33% auto 0 auto;
    }
}