.game-board {
    width: 50vh;
    margin: 5% auto 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 50px;
}

.game-board-win {
    width: 40vh;
    margin: 5% auto 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.1);
}

.game-board--field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:33.33%;
    cursor: pointer;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgba(0, 0, 0, 0.85);
}

.game-board--field--disabled {
   cursor: not-allowed;
}

.game-board--field:hover{
    background: rgb(255, 255, 255, 0.2);
}

.game-board--field::after {
    content: " ";
    display: block;
    padding-bottom: 100%;
}

h1{
    width: 100%;
    height: 40px;
    color:black;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size:30px;
    margin: 100px auto 0px auto;
}

h2{
    color:white;
    text-align:center;
    line-height: 10vh;
    font-size: 17px;
}

.score-box{
    width: 70vh;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    top:20px;
}

.btn{
    position: relative;
    margin: 20px auto 8% auto;
    top:10px;  
}

.game-board--field:nth-last-child(9) {
    border-bottom: 5px solid rgb(0, 132, 255);
    border-left: 5px solid  rgb(55, 0, 255);
    border-top-right-radius: 50px;
}

.game-board--field:nth-last-child(10) {
    border-bottom: 5px solid  rgb(55, 0, 255);
    border-left: 5px solid  rgb(0, 132, 255);
}

.game-board--field:nth-last-child(11) {
    border-bottom: 5px solid  rgb(55, 0, 255);
    border-top-left-radius: 50px;
}

.game-board--field:nth-last-child(8) {
    border-bottom: 5px solid  rgb(55, 0, 255);
}

.game-board--field:nth-last-child(7) {
    border-bottom: 5px solid  rgb(0, 132, 255);
    border-left: 5px solid  rgb(55, 0, 255);
}

.game-board--field:nth-last-child(6) {
    border-bottom: 5px solid  rgb(55, 0, 255);
    border-left: 5px solid  rgb(55, 0, 255);
}

.game-board--field:nth-last-child(3) {
    border-left: 5px solid  rgb(55, 0, 255);
}

.game-board--field:nth-last-child(4) {
    border-left:5px solid  rgb(55, 0, 255);
}

.text-modal{
    color:black; 
}

.win-logo{
    color:gold;
    font-size:200px;
    position: absolute;
    bottom:200%; 
    left: 9%;
    background-color: rgb(0, 132, 255);
    border-radius: 30px 30px 30px;
}

.win-logo-non{
    display: none;
}

.game-board--fieldEnd {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:33.3%;
    cursor: pointer;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgba(255, 255, 255, 0.85);
}

@media only screen and (min-width: 475px) {
    .btn{
        margin: 20px auto 6% auto;
        height: 10vh;
        width: 15vw;   
    }

    .win-logo{
        font-size:450px;
    }

    .game-board-win {
        width: 80vh;
    }

    .game-board {
        width: 80vh;
    }
        
    h1{
        background-image: linear-gradient(to right, rgb(8, 0, 117) ,rgb(0, 132, 255));
        color:white;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        font-size:30px;
        margin: 60px auto 0px auto;
    }

    .score-box{
        width: 70vh;
        height: 10vh;
        top:20px;
        border-radius: 30px 30px 30px;
    }

    .game-board--field:nth-last-child(9) {
        border-bottom: 15px solid rgb(0, 132, 255);
        border-left: 15px solid  rgb(55, 0, 255);
    }

    .game-board--field:nth-last-child(10) {
        border-bottom: 15px solid  rgb(55, 0, 255);
        border-left: 15px solid  rgb(0, 132, 255);
    }

    .game-board--field:nth-last-child(11) {
        border-bottom: 15px solid  rgb(55, 0, 255);
    }

    .game-board--field:nth-last-child(8) {
        border-bottom: 15px solid  rgb(55, 0, 255);
    }

    .game-board--field:nth-last-child(7) {
        border-bottom: 15px solid  rgb(0, 132, 255);
        border-left: 15px solid  rgb(55, 0, 255);
    }

    .game-board--field:nth-last-child(6) {
        border-bottom: 15px solid  rgb(55, 0, 255);
        border-left: 15px solid  rgb(55, 0, 255);
    }

    .game-board--field:nth-last-child(3) {
        border-left: 15px solid  rgb(55, 0, 255);
    }

    .game-board--field:nth-last-child(4) {
        border-left:15px solid  rgb(55, 0, 255);
    }
}

@media only screen and (max-width: 475px) {
    .head-title{
        height: 80px;
       
    }
}




