.game-board-paddel:hover {
  cursor: none;
}

.game-board--full-screen {
  position: fixed;
  z-index: 3;
  top:0;
  left:0;
  cursor: none;
  height: 100vh;
  width: 100vw;
}

.game-board-paddel{
  margin: 0% auto 0% auto;
  display: flex;
  width:60%;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 20px solid rgb(0, 132, 255);
  border-bottom: 20px solid rgb(55, 0, 255);
  border-right: 20px solid rgb(0, 132, 255);
  border-left: 20px solid rgb(55, 0, 255);
}  

.info-board {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0 0 5px 5px;
  height: 10vh;
}

.info-board h2 {
  color: black;
  line-height: 4vh;
  font-size: 17px;
  text-align: center;
}

.btn-paddel button{
  margin-right:2%;
  margin-bottom: 3%;
}

.btn-paddel{
  text-align: center;
}

@media only screen and (max-width: 475px) {
  .head-title-paddle{
      height: 80px;
      margin: 35% auto 0 auto;
  }

  .game-board-paddel{
    width:100%;
  }
}