h3{
    position: relative;
    background-image: linear-gradient(to right, rgb(8, 0, 117) ,rgb(0, 132, 255,0.8));
    color:white;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    font-size:25px;
    text-align: center;
    margin: 30px auto 0 auto;
}

.btn-lang{
    text-align: center;
}

 .btn-light{
    text-align: center;
    margin: 30px auto 30px auto;
}
 .btn-danger{
    text-align: center;
    margin: 30px auto 30px auto;
}
.btn-toolbar{
    text-align: center; 
}

@media only screen and (max-width: 475px) {
    h3{
        font-size: 20px;
    }
}

