.App {
  text-align: center;
}

body{
  position: relative;
  display:table;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/30/20/25/polygon-2189646_1280.jpg);
  background-position: center;
  background-size:cover;
}

.nav {
  display: block;
  height: 75px;
 }

.nav-link {
  opacity: 1;
  color:rgb(0, 132, 255);
  text-align: center;
  height: 45px;
  border-right: 2px solid rgb(0, 132, 255);
  background-color: rgba(255, 255, 255, 0.85);
}

.nav-link:hover{
  background-image: linear-gradient(to right, rgb(8, 0, 117) ,rgb(0, 132, 255));;
  color: white;
  border-right: 2px solid white;
}

.container{
  color:white;
  padding:0px;
  
}
  @media only screen and (min-width: 475px) {
    .nav {
    display: flex;
    margin-top: 20px;
    height: 55px;
    border-bottom: 2px solid rgb(0, 132, 255);
  }
  .nav-link {
    opacity: 1;
    color:rgb(0, 132, 255);
    text-align: center;
    height: 45px;
    border-right: 2px solid rgb(0, 132, 255);
    background-color: rgba(255, 255, 255, 0.85);
  }
}





